[data-avatar~="size:2.5"] {
  --avatar--size: 1.25rem;
}

[data-avatar~="size:3"] {
  --avatar--size: 1.5rem;
}

[data-avatar~="size:3"] {
  --avatar--size: 1.5rem;
}

[data-avatar~="size:4"] {
  --avatar--size: 2rem;
}

[data-avatar~="size:5"] {
  --avatar--size: 2.5rem;
}

[data-avatar~="size:6"] {
  --avatar--size: 3rem;
}

[data-avatar~="size:7"] {
  --avatar--size: 3.5rem;
}

[data-avatar~="size:8"] {
  --avatar--size: 4rem;
}
