.Table {
  --Table--border-color: hsl(0, 0%, 90%);
  --Table--border-radius: 0;
  --Table--font-size: 0.875rem;

  --Table__Row--height: 4rem;

  --Table__Head--background-color: hsl(0, 0%, 97.5%);
  --Table__Head--color: hsla(0, 0%, 40%);
  --Table__Head--font-size: 0.75rem;

  --Table__Data--border-color: var(--Table--border-color);
  --Table__Data--padding: 0 0.5rem;
}

.Table {
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: var(--Table--border-color);
  border-spacing: 0;
  font-size: var(--Table--font-size);
  border-radius: var(--Table--border-radius);
  overflow: hidden;
}

.Table__Head {
  --Table__Row--height: 3rem;
  background-color: var(--Table__Head--background-color);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: var(--Table__Head--font-size);
  font-weight: 700;
  color: var(--Table__Head--color);
}

.Table__Row {
  box-sizing: border-box;
  height: var(--Table__Row--height);
}

/* yes, there's a more clever way to right this with :last-child *if* there is only ever one header row but that isn't guaranteed */
.Table__Head .Table__Row:first-child,
.Table__Body .Table__Row:last-child {
  box-sizing: border-box;
  height: calc(var(--Table__Row--height) - 1px);
}

.Table__Data {
  box-sizing: border-box;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--Table--border-color);
  padding: var(--Table__Data--padding);
}

.Table__Data:first-child {
  padding-left: 1rem;
}

.Table__Data:last-child {
  padding-right: 1rem;
}

.Table__Head .Table__Data {
  border-top-width: 0;
}
