/* TODO: line-height, margin, both? */

[data-preformatted-content~="heading-scale:legacy-church-center"] {
  --heading--font-size: 1rem;
  --heading--font-weight: 600;
}

[data-preformatted-content~="heading-scale:legacy-church-center"] h1 {
  --heading--font-size: 1.125rem;
}
