[data-box="p:1"] {
  --box--padding: 0.5rem;
}
[data-box="p:2"] {
  --box--padding: 1rem;
}
[data-box="p:3"] {
  --box--padding: 1.5rem;
}
[data-box="p:4"] {
  --box--padding: 2rem;
}
[data-box="p:5"] {
  --box--padding: 2.5rem;
}
[data-box="p:6"] {
  --box--padding: 3rem;
}
[data-box="p:7"] {
  --box--padding: 3.5rem;
}
[data-box="p:8"] {
  --box--padding: 4rem;
}
