@import "~sweetalert2/src/variables";

$swal2-icon-size: 3em;
$swal2-icon-margin: 0 auto 0.5em;
$swal2-image-margin: 1.25em auto;
$swal2-icon-animations: false;
$swal2-box-shadow: none;
$swal2-padding: 24px;
$swal2-backdrop-transition: initial;
$swal2-font-size: var(--swal2-font-size, 16px);
$swal2-content-color: #767676;
$swal2-content-font-size: 1em;
$swal2-title-font-size: 1.5626em;
$swal2-cancel-button-color: #767676;
$swal2-cancel-button-background-color: transparent;
$swal2-cancel-button-font-size: 1em;
$swal2-confirm-button-font-size: 1em;
$swal2-title-margin: 0.25em 0 0.5em;
$swal2-content-line-height: 1.4em;
$swal2-actions-margin: 1rem auto 0;
$swal2-backdrop-transition: initial;
$swal2-show-animation: none;
$swal2-hide-animation: none;
$swal2-confirm-button-background-color: var(
  --swal2-confirm-button-background-color,
  hsla(0, 0%, 0%, 0.6)
);
$swal2-confirm-button-color: var(--swal2-confirm-button-color, white);
$swal2-button-focus-box-shadow: 0 0 0 1px white,
  0 0 0 3px var(--swal2-outline-color, Highlight);

@import "~sweetalert2/src/sweetalert2";

// sweetalert2 has no existing configuration points for these
.swal2-actions {
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  padding-top: 0.625rem;
}

.swal2-icon .swal2-icon-content {
  font-size: 1.75em;
}

.swal2-icon {
  box-sizing: border-box;
}

// sweetalert2 uses color functions, preventing css variables from being passed
.swal2-icon {
  &.swal2-warning,
  &.swal2-info,
  &.swal2-question {
    --swal2-icon-color: gray;
    --swal2-icon-border-color: var(--swal2-icon-color);
    border-color: var(--swal2-icon-border-color);
    color: var(--swal2-icon-color);
  }
}
