[data-text-input] {
  box-sizing: var(--text-input--box-sizing, border-box);
  font-size: var(--text-input--font-size, 1rem);
  border-color: var(--text-input--border-color, #767676);
  border-width: var(--text-input--border-width, 1px);
  border-style: var(--text-input--border-style, solid);
  background-color: var(--text-input--background-color, white);
  border-radius: var(--text-input--border-radius, 0.25em);
  padding: var(--text-input--padding, 0.5em 0.625em);
  margin: var(--text-input--margin, 0);
  color: var(--text-input--color, inherit);
  box-shadow: var(--text-input--box-shadow, none);
  width: var(--text-input--width, auto);
  line-height: var(--text-input--line-height, 1.125em);
}

[data-text-input]::placeholder {
  color: var(--text-input--color__placeholder, #767676);
  color: #767676;
}

[data-text-input]:focus {
  outline: var(--text-input--outline_focus, none);
  --text-input--box-shadow: var(
    --text-input--box-shadow_focus,
    0 0 1.5px 3px hsla(0, 0%, 50%, 0.5)
  );
}

[data-text-input]:invalid {
  --text-input--border-color: var(
    --text-input--border-color_invalid,
    hsl(0, 79%, 63%)
  );
  --text-input--color: var(--text-input--color_invalid, hsl(0, 79%, 63%));
  --text-input--box-shadow: var(
    --text-input--box-shadow_invalid,
    0 0 1.5px 3px hsla(0, 79%, 63%, 0.5)
  );
}
