.StatusAvatar {
  border-width: var(--status-avatar--status_border-width, 3px);
  border-style: solid;
  border-color: var(--status-avatar--status_border-color);
}

.StatusAvatar--status_pending {
  --status-avatar--status_border-color: rgb(255, 200, 10);
}

.StatusAvatar--status_accepted {
  --status-avatar--status_border-color: rgb(104, 186, 33);
}

.StatusAvatar--status_declined {
  --status-avatar--status_border-color: red;
}
