.Avatar {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: var(--Avatar--size, 1.5em);
  height: var(--Avatar--size, 1.5em);
}

.Avatar > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
