[data-surface] {
  box-sizing: border-box;
  background-color: var(--surface-1of1--background-color);
  transition: all 200ms ease;
}

[data-surface~="depth:2"] {
  background-color: var(--surface-2of2--background-color);
}

[data-surface~="depth:2"] [data-surface] {
  background-color: var(--surface-1of2--background-color);
}

[data-surface~="depth:3"] {
  background-color: var(--surface-3of3--background-color);
}

[data-surface~="depth:3"] [data-surface] {
  background-color: var(--surface-2of3--background-color);
}

[data-surface~="depth:3"] [data-surface] [data-surface] {
  background-color: var(--surface-1of3--background-color);
}
