.TextInput {
  font-size: 14px;
  border-color: var(--TextInput--border-color, #767676);
  border-width: 1px;
  border-style: solid;
  background-color: var(--TextInput--background-color, white);
  border-radius: 4px;
  padding: 7px 9px;
  margin: 0;

  /* Safari requires two consessions for proper rendering */
  /* 1. don't use line-height to set absolute height. it makes a strange cursor */
  /* 2. use max-height to constrain absolute height to 32px */
  max-height: 16px;
}

.TextInput::placeholder {
  color: var(--TextInput--color_placeholder, #767676);
}

.TextInput:focus {
  outline: none;
  box-shadow: var(
    --TextInput--box-shadow_focus,
    0 0 1.5px 3px hsla(0, 0%, 50%, 0.5)
  );
}
