.Avatar {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.Avatar > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PointGridAvatar--size_2\.5 {
  width: 20px;
  height: 20px;
  --styled-avatar--inset_padding: 0;
}

.PointGridAvatar--size_3 {
  width: 24px;
  height: 24px;
  --styled-avatar--inset_padding: 2px;
}

.PointGridAvatar--size_4 {
  width: 32px;
  height: 32px;
  --styled-avatar--inset_padding: 2px;
}

.PointGridAvatar--size_5 {
  width: 40px;
  height: 40px;
  --styled-avatar--inset_padding: 3px;
}

.PointGridAvatar--size_6 {
  width: 48px;
  height: 48px;
  --styled-avatar--inset_padding: 3px;
}

.PointGridAvatar--size_7 {
  width: 56px;
  height: 56px;
  --styled-avatar--inset_padding: 4px;
}

.PointGridAvatar--size_8 {
  width: 64px;
  height: 64px;
  --styled-avatar--inset_padding: 4px;
}

.PointGridAvatar--size_9 {
  width: 72px;
  height: 72px;
  --styled-avatar--inset_padding: 5px;
}

/* ResponsivePointGridAvatarAvatar */

.ResponsivePointGridAvatar {
}

@media only screen and (min-width: 0) {
  .\@mn__ResponsivePointGridAvatar--size_2\.5 {
    width: 20px;
    height: 20px;
    --styled-avatar--inset_padding: 0;
  }

  .\@mn__ResponsivePointGridAvatar--size_3 {
    width: 24px;
    height: 24px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@mn__ResponsivePointGridAvatar--size_4 {
    width: 32px;
    height: 32px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@mn__ResponsivePointGridAvatar--size_5 {
    width: 40px;
    height: 40px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@mn__ResponsivePointGridAvatar--size_6 {
    width: 48px;
    height: 48px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@mn__ResponsivePointGridAvatar--size_7 {
    width: 56px;
    height: 56px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@mn__ResponsivePointGridAvatar--size_8 {
    width: 64px;
    height: 64px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@mn__ResponsivePointGridAvatar--size_9 {
    width: 72px;
    height: 72px;
    --styled-avatar--inset_padding: 5px;
  }
}

@media only screen and (min-width: 480px) {
  .\@xs__ResponsivePointGridAvatar--size_2\.5 {
    width: 20px;
    height: 20px;
    --styled-avatar--inset_padding: 0;
  }

  .\@xs__ResponsivePointGridAvatar--size_3 {
    width: 24px;
    height: 24px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@xs__ResponsivePointGridAvatar--size_4 {
    width: 32px;
    height: 32px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@xs__ResponsivePointGridAvatar--size_5 {
    width: 40px;
    height: 40px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@xs__ResponsivePointGridAvatar--size_6 {
    width: 48px;
    height: 48px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@xs__ResponsivePointGridAvatar--size_7 {
    width: 56px;
    height: 56px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@xs__ResponsivePointGridAvatar--size_8 {
    width: 64px;
    height: 64px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@xs__ResponsivePointGridAvatar--size_9 {
    width: 72px;
    height: 72px;
    --styled-avatar--inset_padding: 5px;
  }
}

@media only screen and (min-width: 600px) {
  .\@sm__ResponsivePointGridAvatar--size_2\.5 {
    width: 20px;
    height: 20px;
    --styled-avatar--inset_padding: 0;
  }

  .\@sm__ResponsivePointGridAvatar--size_3 {
    width: 24px;
    height: 24px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@sm__ResponsivePointGridAvatar--size_4 {
    width: 32px;
    height: 32px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@sm__ResponsivePointGridAvatar--size_5 {
    width: 40px;
    height: 40px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@sm__ResponsivePointGridAvatar--size_6 {
    width: 48px;
    height: 48px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@sm__ResponsivePointGridAvatar--size_7 {
    width: 56px;
    height: 56px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@sm__ResponsivePointGridAvatar--size_8 {
    width: 64px;
    height: 64px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@sm__ResponsivePointGridAvatar--size_9 {
    width: 72px;
    height: 72px;
    --styled-avatar--inset_padding: 5px;
  }
}

@media only screen and (min-width: 720px) {
  .\@md__ResponsivePointGridAvatar--size_2\.5 {
    width: 20px;
    height: 20px;
    --styled-avatar--inset_padding: 0;
  }

  .\@md__ResponsivePointGridAvatar--size_3 {
    width: 24px;
    height: 24px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@md__ResponsivePointGridAvatar--size_4 {
    width: 32px;
    height: 32px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@md__ResponsivePointGridAvatar--size_5 {
    width: 40px;
    height: 40px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@md__ResponsivePointGridAvatar--size_6 {
    width: 48px;
    height: 48px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@md__ResponsivePointGridAvatar--size_7 {
    width: 56px;
    height: 56px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@md__ResponsivePointGridAvatar--size_8 {
    width: 64px;
    height: 64px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@md__ResponsivePointGridAvatar--size_9 {
    width: 72px;
    height: 72px;
    --styled-avatar--inset_padding: 5px;
  }
}

@media only screen and (min-width: 960px) {
  .\@lg__ResponsivePointGridAvatar--size_2\.5 {
    width: 20px;
    height: 20px;
    --styled-avatar--inset_padding: 0;
  }

  .\@lg__ResponsivePointGridAvatar--size_3 {
    width: 24px;
    height: 24px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@lg__ResponsivePointGridAvatar--size_4 {
    width: 32px;
    height: 32px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@lg__ResponsivePointGridAvatar--size_5 {
    width: 40px;
    height: 40px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@lg__ResponsivePointGridAvatar--size_6 {
    width: 48px;
    height: 48px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@lg__ResponsivePointGridAvatar--size_7 {
    width: 56px;
    height: 56px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@lg__ResponsivePointGridAvatar--size_8 {
    width: 64px;
    height: 64px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@lg__ResponsivePointGridAvatar--size_9 {
    width: 72px;
    height: 72px;
    --styled-avatar--inset_padding: 5px;
  }
}

@media only screen and (min-width: 1200px) {
  .\@xl__ResponsivePointGridAvatar--size_2\.5 {
    width: 20px;
    height: 20px;
    --styled-avatar--inset_padding: 0;
  }

  .\@xl__ResponsivePointGridAvatar--size_3 {
    width: 24px;
    height: 24px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@xl__ResponsivePointGridAvatar--size_4 {
    width: 32px;
    height: 32px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@xl__ResponsivePointGridAvatar--size_5 {
    width: 40px;
    height: 40px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@xl__ResponsivePointGridAvatar--size_6 {
    width: 48px;
    height: 48px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@xl__ResponsivePointGridAvatar--size_7 {
    width: 56px;
    height: 56px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@xl__ResponsivePointGridAvatar--size_8 {
    width: 64px;
    height: 64px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@xl__ResponsivePointGridAvatar--size_9 {
    width: 72px;
    height: 72px;
    --styled-avatar--inset_padding: 5px;
  }
}

/* StyledAvatar */

.StyledAvatar--inset {
  background-color: white;
  background-color: var(--planningcenter-avatar-inset-color, white);
  padding: var(--styled-avatar--inset_padding);
}

/* StyledAvatar */

.InactiveAvatar {
  opacity: 0.5;
}

/* modified from: https://www.w3.org/TR/wai-aria-practices/examples/checkbox/css/checkbox.css */

.Checkbox {
  display: inline-block;
  position: relative;
  padding-left: 1.4em;
  cursor: default;
}

.Checkbox::before,
.Checkbox::after {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translate(-50%, -50%);
  content: "";
}

.Checkbox::before {
  width: 16px;
  height: 16px;
  border: 1px solid hsl(0, 0%, 66%);
  border-radius: 0.2em;
  background-color: white;
  /* background-image: linear-gradient(to bottom, hsl(300, 3%, 93%), #fff 30%); */
}

.Checkbox:active::before {
  /* background-color: white; */
  /* background-image: linear-gradient(
    to bottom,
    hsl(300, 3%, 73%),
    hsl(300, 3%, 93%) 30%
  ); */
}

.Checkbox:checked::before {
  border-color: hsl(216, 80%, 50%);
  /* background-color: hsl(216, 80%, 57%); */
  background: hsl(217, 95%, 68%);
  /* background-image: linear-gradient(
    to bottom,
    hsl(217, 95%, 68%),
    hsl(216, 80%, 57%)
  ); */
}

.Checkbox:checked::after {
  display: block;
  width: 4px;
  height: 7px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: translateY(-62.5%) translateX(-45%) rotate(45deg);
}

.Checkbox:checked:active::before {
  /* background-image: linear-gradient(
    to bottom,
    hsl(216, 80%, 57%),
    hsl(217, 95%, 68%)
  ); */
}

.Checkbox:focus {
  outline: none;
}

.Checkbox:focus::before {
  /* width: 16px;
  height: 16px; */
  box-sizing: content-box;
  border-color: hsl(216, 94%, 73%);
  border-width: 3px;
  border-radius: calc(0.2em + 3px);
  box-shadow: inset 0 0 0 1px hsl(216, 80%, 50%);
}

.PointGridCheckbox--size_1\.5::before {
  width: 12px;
  height: 12px;
}

.PointGridCheckbox--size_1\.5:checked::after {
  width: 3px;
  height: 6px;
  border-width: 0 1.75px 1.75px 0;
  /* transform: translateY(-67.5%) translateX(-45%) rotate(45deg); */
}

.PointGridCheckbox--size_2::before {
  width: 16px;
  height: 16px;
}

.PointGridCheckbox--size_2\.5::before {
  width: 20px;
  height: 20px;
}

.PointGridCheckbox--size_2\.5:checked::after {
  width: 6px;
  height: 9px;
  border-width: 0 2.5px 2.5px 0;
  transform: translateY(-67.5%) translateX(-45%) rotate(45deg);
}

.Text {
}

.FontScaleText {
}

.FontScaleText--font-size_x-small {
  font-size: 10px;
}

.FontScaleText--font-size_small {
  font-size: 12px;
}

.FontScaleText--font-size_medium {
  font-size: 14px;
}

.FontScaleText--font-size_large {
  font-size: 16px;
}

.FontScaleText--font-size_x-large {
  font-size: 18px;
}

.TextInput {
  font-size: 14px;
  border-color: var(--TextInput--border-color, #767676);
  border-width: 1px;
  border-style: solid;
  background-color: var(--TextInput--background-color, white);
  border-radius: 4px;
  padding: 7px 9px;
  margin: 0;

  /* Safari requires two consessions for proper rendering */
  /* 1. don't use line-height to set absolute height. it makes a strange cursor */
  /* 2. use max-height to constrain absolute height to 32px */
  max-height: 16px;
}

.TextInput::placeholder {
  color: var(--TextInput--color_placeholder, #767676);
}

.TextInput:focus {
  outline: none;
  box-shadow: var(
    --TextInput--box-shadow_focus,
    0 0 1.5px 3px hsla(0, 0%, 50%, 0.5)
  );
}

.PointGridTextInput {
}

.PointGridTextInput--height_2\.5 {
  border-radius: 2.5px;
  font-size: 12px;
  max-height: 14px;
  padding: 2px 4px;
}

.PointGridTextInput--height_3 {
  border-radius: 3px;
  font-size: 12px;
  max-height: 14px;
  padding: 4px 5px;
}

.PointGridTextInput--height_4 {
  border-radius: 4px;
  font-size: 14px;
  max-height: 16px;
  padding: 7px 8px;
}

.PointGridTextInput--height_5 {
  border-radius: 5px;
  font-size: 16px;
  max-height: 18px;
  padding: 10px 11px;
}

.ResourceHeader__TabContainer {
  display: flex;
  align-items: top;
  padding-left: 24px;
  padding-right: 24px;
}

.ResourceHeader__TabContainer > * + * {
  margin-left: 8px;
}

.ResourceHeader__SummaryContainer {
  display: flex;
  align-items: center;
  padding: 24px;
}

.ResourceHeader__SummaryContainer > * + * {
  margin-left: 24px;
}

.ResourceHeader__FlexSpacer {
  margin: auto;
}

.ResourceHeader__Title {
  margin: 0;
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.ResourceHeader__Tab {
  padding-right: 24px;
  padding-left: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 14px;
  line-height: 40px;
  text-decoration: none;
}

.ResourceHeader__Avatar {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: 112px;
  height: 112px;
  padding: 5px;
  background-color: white;
  background-color: var(--planningcenter-avatar-inset-color, white);
}
