.Avatar {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: var(--Avatar--size, 1.5em);
  height: var(--Avatar--size, 1.5em);
}

.Avatar > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PointGridAvatar--size_2\.5 {
  width: 20px;
  height: 20px;
  --styled-avatar--inset_padding: 0;
}

.PointGridAvatar--size_3 {
  width: 24px;
  height: 24px;
  --styled-avatar--inset_padding: 2px;
}

.PointGridAvatar--size_4 {
  width: 32px;
  height: 32px;
  --styled-avatar--inset_padding: 2px;
}

.PointGridAvatar--size_5 {
  width: 40px;
  height: 40px;
  --styled-avatar--inset_padding: 3px;
}

.PointGridAvatar--size_6 {
  width: 48px;
  height: 48px;
  --styled-avatar--inset_padding: 3px;
}

.PointGridAvatar--size_7 {
  width: 56px;
  height: 56px;
  --styled-avatar--inset_padding: 4px;
}

.PointGridAvatar--size_8 {
  width: 64px;
  height: 64px;
  --styled-avatar--inset_padding: 4px;
}

.PointGridAvatar--size_9 {
  width: 72px;
  height: 72px;
  --styled-avatar--inset_padding: 5px;
}

/* ResponsivePointGridAvatarAvatar */

.ResponsivePointGridAvatar {
}

@media only screen and (min-width: 0) {
  .\@mn__ResponsivePointGridAvatar--size_2\.5 {
    width: 20px;
    height: 20px;
    --styled-avatar--inset_padding: 0;
  }

  .\@mn__ResponsivePointGridAvatar--size_3 {
    width: 24px;
    height: 24px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@mn__ResponsivePointGridAvatar--size_4 {
    width: 32px;
    height: 32px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@mn__ResponsivePointGridAvatar--size_5 {
    width: 40px;
    height: 40px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@mn__ResponsivePointGridAvatar--size_6 {
    width: 48px;
    height: 48px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@mn__ResponsivePointGridAvatar--size_7 {
    width: 56px;
    height: 56px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@mn__ResponsivePointGridAvatar--size_8 {
    width: 64px;
    height: 64px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@mn__ResponsivePointGridAvatar--size_9 {
    width: 72px;
    height: 72px;
    --styled-avatar--inset_padding: 5px;
  }
}

@media only screen and (min-width: 480px) {
  .\@xs__ResponsivePointGridAvatar--size_2\.5 {
    width: 20px;
    height: 20px;
    --styled-avatar--inset_padding: 0;
  }

  .\@xs__ResponsivePointGridAvatar--size_3 {
    width: 24px;
    height: 24px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@xs__ResponsivePointGridAvatar--size_4 {
    width: 32px;
    height: 32px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@xs__ResponsivePointGridAvatar--size_5 {
    width: 40px;
    height: 40px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@xs__ResponsivePointGridAvatar--size_6 {
    width: 48px;
    height: 48px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@xs__ResponsivePointGridAvatar--size_7 {
    width: 56px;
    height: 56px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@xs__ResponsivePointGridAvatar--size_8 {
    width: 64px;
    height: 64px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@xs__ResponsivePointGridAvatar--size_9 {
    width: 72px;
    height: 72px;
    --styled-avatar--inset_padding: 5px;
  }
}

@media only screen and (min-width: 600px) {
  .\@sm__ResponsivePointGridAvatar--size_2\.5 {
    width: 20px;
    height: 20px;
    --styled-avatar--inset_padding: 0;
  }

  .\@sm__ResponsivePointGridAvatar--size_3 {
    width: 24px;
    height: 24px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@sm__ResponsivePointGridAvatar--size_4 {
    width: 32px;
    height: 32px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@sm__ResponsivePointGridAvatar--size_5 {
    width: 40px;
    height: 40px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@sm__ResponsivePointGridAvatar--size_6 {
    width: 48px;
    height: 48px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@sm__ResponsivePointGridAvatar--size_7 {
    width: 56px;
    height: 56px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@sm__ResponsivePointGridAvatar--size_8 {
    width: 64px;
    height: 64px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@sm__ResponsivePointGridAvatar--size_9 {
    width: 72px;
    height: 72px;
    --styled-avatar--inset_padding: 5px;
  }
}

@media only screen and (min-width: 720px) {
  .\@md__ResponsivePointGridAvatar--size_2\.5 {
    width: 20px;
    height: 20px;
    --styled-avatar--inset_padding: 0;
  }

  .\@md__ResponsivePointGridAvatar--size_3 {
    width: 24px;
    height: 24px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@md__ResponsivePointGridAvatar--size_4 {
    width: 32px;
    height: 32px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@md__ResponsivePointGridAvatar--size_5 {
    width: 40px;
    height: 40px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@md__ResponsivePointGridAvatar--size_6 {
    width: 48px;
    height: 48px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@md__ResponsivePointGridAvatar--size_7 {
    width: 56px;
    height: 56px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@md__ResponsivePointGridAvatar--size_8 {
    width: 64px;
    height: 64px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@md__ResponsivePointGridAvatar--size_9 {
    width: 72px;
    height: 72px;
    --styled-avatar--inset_padding: 5px;
  }
}

@media only screen and (min-width: 960px) {
  .\@lg__ResponsivePointGridAvatar--size_2\.5 {
    width: 20px;
    height: 20px;
    --styled-avatar--inset_padding: 0;
  }

  .\@lg__ResponsivePointGridAvatar--size_3 {
    width: 24px;
    height: 24px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@lg__ResponsivePointGridAvatar--size_4 {
    width: 32px;
    height: 32px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@lg__ResponsivePointGridAvatar--size_5 {
    width: 40px;
    height: 40px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@lg__ResponsivePointGridAvatar--size_6 {
    width: 48px;
    height: 48px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@lg__ResponsivePointGridAvatar--size_7 {
    width: 56px;
    height: 56px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@lg__ResponsivePointGridAvatar--size_8 {
    width: 64px;
    height: 64px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@lg__ResponsivePointGridAvatar--size_9 {
    width: 72px;
    height: 72px;
    --styled-avatar--inset_padding: 5px;
  }
}

@media only screen and (min-width: 1200px) {
  .\@xl__ResponsivePointGridAvatar--size_2\.5 {
    width: 20px;
    height: 20px;
    --styled-avatar--inset_padding: 0;
  }

  .\@xl__ResponsivePointGridAvatar--size_3 {
    width: 24px;
    height: 24px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@xl__ResponsivePointGridAvatar--size_4 {
    width: 32px;
    height: 32px;
    --styled-avatar--inset_padding: 2px;
  }

  .\@xl__ResponsivePointGridAvatar--size_5 {
    width: 40px;
    height: 40px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@xl__ResponsivePointGridAvatar--size_6 {
    width: 48px;
    height: 48px;
    --styled-avatar--inset_padding: 3px;
  }

  .\@xl__ResponsivePointGridAvatar--size_7 {
    width: 56px;
    height: 56px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@xl__ResponsivePointGridAvatar--size_8 {
    width: 64px;
    height: 64px;
    --styled-avatar--inset_padding: 4px;
  }

  .\@xl__ResponsivePointGridAvatar--size_9 {
    width: 72px;
    height: 72px;
    --styled-avatar--inset_padding: 5px;
  }
}

/* StyledAvatar */

.StyledAvatar--inset {
  padding: var(--styled-avatar--inset_padding);
  background-color: var(--Avatar--background-color, white);
}

/* StyledAvatar */

.InactiveAvatar {
  opacity: 0.5;
}

/* modified from: https://www.w3.org/TR/wai-aria-practices/examples/checkbox/css/checkbox.css */

.Checkbox {
  display: inline-block;
  position: relative;
  padding-left: 1.4em;
  cursor: default;
}

.Checkbox::before,
.Checkbox::after {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translate(-50%, -50%);
  content: "";
}

.Checkbox::before {
  width: 16px;
  height: 16px;
  border: 1px solid hsl(0, 0%, 66%);
  border-radius: 0.2em;
  background-color: white;
  /* background-image: linear-gradient(to bottom, hsl(300, 3%, 93%), #fff 30%); */
}

.Checkbox:active::before {
  /* background-color: white; */
  /* background-image: linear-gradient(
    to bottom,
    hsl(300, 3%, 73%),
    hsl(300, 3%, 93%) 30%
  ); */
}

.Checkbox:checked::before {
  border-color: hsl(216, 80%, 50%);
  /* background-color: hsl(216, 80%, 57%); */
  background: hsl(217, 95%, 68%);
  /* background-image: linear-gradient(
    to bottom,
    hsl(217, 95%, 68%),
    hsl(216, 80%, 57%)
  ); */
}

.Checkbox:checked::after {
  display: block;
  width: 4px;
  height: 7px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: translateY(-62.5%) translateX(-45%) rotate(45deg);
}

.Checkbox:checked:active::before {
  /* background-image: linear-gradient(
    to bottom,
    hsl(216, 80%, 57%),
    hsl(217, 95%, 68%)
  ); */
}

.Checkbox:focus {
  outline: none;
}

.Checkbox:focus::before {
  /* width: 16px;
  height: 16px; */
  box-sizing: content-box;
  border-color: hsl(216, 94%, 73%);
  border-width: 3px;
  border-radius: calc(0.2em + 3px);
  box-shadow: inset 0 0 0 1px hsl(216, 80%, 50%);
}

.PointGridCheckbox--size_1\.5::before {
  width: 12px;
  height: 12px;
}

.PointGridCheckbox--size_1\.5:checked::after {
  width: 3px;
  height: 6px;
  border-width: 0 1.75px 1.75px 0;
  /* transform: translateY(-67.5%) translateX(-45%) rotate(45deg); */
}

.PointGridCheckbox--size_2::before {
  width: 16px;
  height: 16px;
}

.PointGridCheckbox--size_2\.5::before {
  width: 20px;
  height: 20px;
}

.PointGridCheckbox--size_2\.5:checked::after {
  width: 6px;
  height: 9px;
  border-width: 0 2.5px 2.5px 0;
  transform: translateY(-67.5%) translateX(-45%) rotate(45deg);
}

/*! select.css (modified) */

.Select {
  position: relative;

  display: inline-block;

  cursor: pointer;
  vertical-align: middle;

  background-color: var(--Select--background-color, #fff);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 32px auto;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Theme */

.Select {
  font-size: 14px;

  height: 32px;
  width: 100%;
  padding-top: 0;
  padding-right: 0;
  padding-right: 33px;
  padding-bottom: 0;
  padding-left: 8px;

  color: var(--Select--color, inherit);
  border-style: 1px;
  border-width: solid;
  border-color: var(--Select--border-color, hsl(0, 0%, 80%));
  border-radius: 3px;
  border-radius: 3px;
}

.Select:disabled {
  color: #ccc;
  --Select--background-color: hsl(0, 0%, 97.5%);
  --Select--color: hsl(0, 0%, 35%);
  cursor: not-allowed;
}

/* FF(all): remove dotted inner focus ring */

.Select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* under the influence of wtfforms, Mailchimp, and Foundation */

.PointGridSelect--height_2\.5 {
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 2.5px;
  font-size: 12px;
  height: 20px;
}

.PointGridSelect--height_3 {
  padding-left: 5px;
  border-radius: 3px;
  font-size: 12px;
  height: 24px;
}

.PointGridSelect--height_4 {
  padding-left: 8px;
  border-radius: 4px;
  font-size: 14px;
  height: 32px;
}

.PointGridSelect--height_5 {
  padding-left: 11px;
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
}

.Surface {
  background-color: var(--surface-1of1_background-color);
  transition: all 200ms ease;
}

.Surface--depth_2 {
  background-color: var(--surface-2of2_background-color);
}

.Surface--depth_2 .Surface {
  background-color: var(--surface-1of2_background-color);
}

.Surface--depth_3 {
  background-color: var(--surface-3of3_background-color);
}

.Surface--depth_3 .Surface {
  background-color: var(--surface-2of3_background-color);
}

.Surface--depth_3 .Surface .Surface {
  background-color: var(--surface-1of3_background-color);
}

.Table {
  --Table--border-color: hsl(0, 0%, 90%);
  --Table--border-radius: 0;
  --Table--font-size: 0.875rem;

  --Table__Row--height: 4rem;

  --Table__Head--background-color: hsl(0, 0%, 97.5%);
  --Table__Head--color: hsla(0, 0%, 40%);
  --Table__Head--font-size: 0.75rem;

  --Table__Data--border-color: var(--Table--border-color);
  --Table__Data--padding: 0 0.5rem;
}

.Table {
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: var(--Table--border-color);
  border-spacing: 0;
  font-size: var(--Table--font-size);
  border-radius: var(--Table--border-radius);
  overflow: hidden;
}

.Table__Head {
  --Table__Row--height: 3rem;
  background-color: var(--Table__Head--background-color);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: var(--Table__Head--font-size);
  font-weight: 700;
  color: var(--Table__Head--color);
}

.Table__Row {
  box-sizing: border-box;
  height: var(--Table__Row--height);
}

/* yes, there's a more clever way to right this with :last-child *if* there is only ever one header row but that isn't guaranteed */

.Table__Head .Table__Row:first-child,
.Table__Body .Table__Row:last-child {
  box-sizing: border-box;
  height: calc(var(--Table__Row--height) - 1px);
}

.Table__Data {
  box-sizing: border-box;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--Table--border-color);
  padding: var(--Table__Data--padding);
}

.Table__Data:first-child {
  padding-left: 1rem;
}

.Table__Data:last-child {
  padding-right: 1rem;
}

.Table__Head .Table__Data {
  border-top-width: 0;
}

.Text {
  font-size: var(--Text--font-size, 1em);
}

.FontScaleText {
}

.FontScaleText--font-size_x-small {
  --Text--font-size: 10px;
}

.FontScaleText--font-size_small {
  --Text--font-size: 12px;
}

.FontScaleText--font-size_medium {
  --Text--font-size: 14px;
}

.FontScaleText--font-size_large {
  --Text--font-size: 16px;
}

.FontScaleText--font-size_x-large {
  --Text--font-size: 18px;
}

.TextInput {
  box-sizing: var(--TextInput--box-sizing, border-box);
  font-size: var(--TextInput--font-size, 1rem);
  border-color: var(--TextInput--border-color, #767676);
  border-width: var(--TextInput--border-width, 1px);
  border-style: var(--TextInput--border-style, solid);
  background-color: var(--TextInput--background-color, white);
  border-radius: var(--TextInput--border-radius, 0.25rem);
  padding: var(--TextInput--padding, 0.5em 0.625em);
  margin: var(--TextInput--margin, 0);
  color: var(--TextInput--color, inherit);
  box-shadow: var(--TextInput--box-shadow, none);
  width: var(--TextInput--width, auto);
  line-height: var(--TextInput--line-height, 1.125rem);
}

.TextInput::placeholder {
  color: var(--TextInput--color, #767676);
}

.TextInput:focus {
  outline: var(--TextInput--outline, none);
  --TextInput--box-shadow: 0 0 1.5px 3px hsla(0, 0%, 50%, 0.5);
}

.TextInput:invalid {
  --TextInput--border-color: hsl(0, 79%, 63%);
  --TextInput--color: hsl(0, 79%, 63%);
  --TextInput--box-shadow: 0 0 1.5px 3px hsla(0, 79%, 63%, 0.5);
}

.InvalidTextInput {
  --TextInput--border-color: hsl(0, 79%, 63%);
  --TextInput--color: hsl(0, 79%, 63%);
}

.InvalidTextInput:focus {
  --TextInput--box-shadow: 0 0 1.5px 3px hsla(0, 79%, 63%, 0.5);
}

.ResourceHeader__TabContainer {
  display: flex;
  align-items: top;
  padding-left: 24px;
  padding-right: 24px;
}

.ResourceHeader__TabContainer > * + * {
  margin-left: 8px;
}

.ResourceHeader__SummaryContainer {
  display: flex;
  align-items: center;
  padding: 24px;
}

.ResourceHeader__SummaryContainer > * + * {
  margin-left: 24px;
}

.ResourceHeader__FlexSpacer {
  margin: auto;
}

.ResourceHeader__Title {
  margin: 0;
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.ResourceHeader__Tab {
  padding-right: 24px;
  padding-left: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 14px;
  line-height: 40px;
  text-decoration: none;
}

.ResourceHeader__Avatar {
  padding: 5px;
  background-color: white;
  --Avatar--size: 112px;
}

.ResourceHeader__ActionGroup {
  display: flex;
}

.ResourceHeader__ActionGroup > * + * {
  margin-left: 8px;
}
