.PointGridSelect--height_2\.5 {
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 2.5px;
  font-size: 12px;
  height: 20px;
}

.PointGridSelect--height_3 {
  padding-left: 5px;
  border-radius: 3px;
  font-size: 12px;
  height: 24px;
}

.PointGridSelect--height_4 {
  padding-left: 8px;
  border-radius: 4px;
  font-size: 14px;
  height: 32px;
}

.PointGridSelect--height_5 {
  padding-left: 11px;
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
}
