/* size */
[data-avatar~="size:xs"] {
  --avatar--size: calc(2.5 * var(--point));
}

[data-avatar~="size:sm"] {
  --avatar--size: calc(3 * var(--point));
}

[data-avatar~="size:md"] {
  --avatar--size: calc(4 * var(--point));
}

[data-avatar~="size:lg"] {
  --avatar--size: calc(5 * var(--point));
}

[data-avatar~="size:xl"] {
  --avatar--size: calc(8 * var(--point));
}

/* status */
/* statuses implemented app-side */
[data-avatar*="status:"] {
  --avatar--border: clamp(2px, calc(var(--avatar--size) * 0.1), 5px) solid
    transparent;
}
