:root {
  --colors-primary-lightest: hsl(88, 24%, 92%);
  --colors-primary-lighter: hsl(88, 32%, 86%);
  --colors-primary-light: hsl(88, 40%, 54%);
  --colors-primary: hsl(88, 44%, 40%);
  --colors-primary-dark: hsl(88, 46%, 36%);
  --colors-primary-darker: hsl(88, 52%, 32%);
  --colors-primary-darkest: hsl(88, 72%, 20%);
  --colors-warning-lighter: hsl(60, 99%, 90%);
  --colors-warning-light: hsl(56, 97%, 74%);
  --colors-warning: hsl(50, 94%, 56%);
  --colors-warning-dark: hsl(48, 93%, 48%);
  --colors-warning-darker: hsl(42, 90%, 30%);
  --colors-error-lighter: hsl(7, 60%, 90%);
  --colors-error-light: hsl(7, 72%, 76%);
  --colors-error: hsl(7, 78%, 64%);
  --colors-error-dark: hsl(7, 80%, 52%);
  --colors-error-darker: hsl(7, 86%, 30%);
  --colors-success-lighter: hsl(96, 24%, 92%);
  --colors-success-light: hsl(96, 32%, 76%);
  --colors-success: hsl(96, 40%, 58%);
  --colors-success-dark: hsl(96, 44%, 50%);
  --colors-success-darker: hsl(96, 60%, 20%);
  --colors-red-0: hsl(8, 73%, 96%);
  --colors-red-1: hsl(8, 74%, 92%);
  --colors-red-2: hsl(8, 75%, 88%);
  --colors-red-3: hsl(8, 76%, 68%);
  --colors-red-4: hsl(8, 77%, 60%);
  --colors-red-5: hsl(8, 78%, 56%);
  --colors-red-6: hsl(8, 79%, 52%);
  --colors-red-7: hsl(8, 80%, 48%);
  --colors-red-8: hsl(8, 81%, 40%);
  --colors-red-9: hsl(8, 82%, 30%);
  --colors-blue-0: hsl(197, 56%, 92%);
  --colors-blue-1: hsl(197, 56%, 88%);
  --colors-blue-2: hsl(197, 56%, 72%);
  --colors-blue-3: hsl(197, 56%, 64%);
  --colors-blue-4: hsl(197, 56%, 52%);
  --colors-blue-5: hsl(197, 56%, 44%);
  --colors-blue-6: hsl(197, 56%, 40%);
  --colors-blue-7: hsl(197, 56%, 32%);
  --colors-blue-8: hsl(197, 56%, 24%);
  --colors-blue-9: hsl(197, 56%, 20%);
  --colors-green-0: hsl(96, 24%, 92%);
  --colors-green-1: hsl(96, 30%, 84%);
  --colors-green-2: hsl(96, 32%, 76%);
  --colors-green-3: hsl(96, 34%, 72%);
  --colors-green-4: hsl(96, 36%, 64%);
  --colors-green-5: hsl(96, 40%, 58%);
  --colors-green-6: hsl(96, 44%, 50%);
  --colors-green-7: hsl(96, 48%, 40%);
  --colors-green-8: hsl(96, 52%, 30%);
  --colors-green-9: hsl(96, 60%, 20%);
  --colors-yellow-0: hsl(50, 89%, 90%);
  --colors-yellow-1: hsl(50, 90%, 86%);
  --colors-yellow-2: hsl(50, 91%, 74%);
  --colors-yellow-3: hsl(50, 92%, 68%);
  --colors-yellow-4: hsl(50, 93%, 62%);
  --colors-yellow-5: hsl(50, 94%, 56%);
  --colors-yellow-6: hsl(50, 95%, 48%);
  --colors-yellow-7: hsl(50, 96%, 40%);
  --colors-yellow-8: hsl(50, 97%, 32%);
  --colors-yellow-9: hsl(50, 98%, 26%);
  --colors-light-0: hsla(0, 0%, 100%, 0.16);
  --colors-light-1: hsla(0, 0%, 100%, 0.24);
  --colors-light-2: hsla(0, 0%, 100%, 0.32);
  --colors-light-3: hsla(0, 0%, 100%, 0.44);
  --colors-light-4: hsla(0, 0%, 100%, 0.5);
  --colors-light-5: hsla(0, 0%, 100%, 0.6);
  --colors-light-6: hsla(0, 0%, 100%, 0.68);
  --colors-light-7: hsla(0, 0%, 100%, 0.76);
  --colors-light-8: hsla(0, 0%, 100%, 0.88);
  --colors-light-9: hsla(0, 0%, 100%, 0.96);
  --colors-dark-0: hsla(0, 0%, 0%, 0.04);
  --colors-dark-1: hsla(0, 0%, 0%, 0.08);
  --colors-dark-2: hsla(0, 0%, 0%, 0.12);
  --colors-dark-3: hsla(0, 0%, 0%, 0.16);
  --colors-dark-4: hsla(0, 0%, 0%, 0.24);
  --colors-dark-5: hsla(0, 0%, 0%, 0.32);
  --colors-dark-6: hsla(0, 0%, 0%, 0.4);
  --colors-dark-7: hsla(0, 0%, 0%, 0.46);
  --colors-dark-8: hsla(0, 0%, 0%, 0.54);
  --colors-dark-9: hsla(0, 0%, 0%, 0.68);
  --colors-grey-0: hsl(200, 1%, 98%);
  --colors-grey-1: hsl(200, 1%, 96%);
  --colors-grey-2: hsl(200, 1%, 94%);
  --colors-grey-3: hsl(200, 1%, 92%);
  --colors-grey-4: hsl(200, 1%, 90%);
  --colors-grey-5: hsl(200, 1%, 86%);
  --colors-grey-6: hsl(200, 1%, 74%);
  --colors-grey-7: hsl(200, 1%, 58%);
  --colors-grey-8: hsl(200, 1%, 46%);
  --colors-grey-9: hsl(200, 1%, 28%);
  --colors-foreground: hsl(200, 1%, 28%);
  --colors-foreground-secondary: hsl(200, 1%, 46%);
  --colors-foreground-tertiary: hsl(200, 1%, 58%);
  --colors-background: hsl(30, 9%, 99%);
  --colors-background-secondary: hsl(30, 9%, 97%);
  --colors-background-tertiary: hsl(30, 9%, 95%);
  --colors-surface: white;
  --colors-surface-secondary: hsl(200, 1%, 98%);
  --colors-surface-tertiary: hsl(200, 1%, 96%);
  --colors-separator: hsl(200, 1%, 74%);
  --colors-separator-secondary: hsl(200, 1%, 86%);
  --colors-separator-tertiary: hsl(200, 1%, 90%);
  --colors-separator-hover: hsl(200, 1%, 74%);
  --colors-separator-focus: hsl(88, 44%, 40%);
  --colors-separator-focus-secondary: hsl(88, 32%, 86%);
  --colors-highlight: hsl(200, 1%, 94%);
  --colors-highlight-secondary: hsl(200, 1%, 92%);
  --colors-link-foreground: hsl(197, 56%, 44%);
  --colors-link-background: hsl(200, 100%, 98%);
  --colors-sunday: #7dc156;
  --colors-monday: #789ff8;
  --colors-tuesday: #a193fd;
  --colors-wednesday: #d18cf6;
  --colors-thursday: #fa7ea4;
  --colors-friday: #f69688;
  --colors-saturday: #66beeb;
  --colors-check-ins: #8c6999;
  --colors-giving: #f4c551;
  --colors-groups: #f58a4f;
  --colors-music-stand: #4984c4;
  --colors-pco: #3565cf;
  --colors-people: #5781cf;
  --colors-planning-center: #2266f7;
  --colors-projector: #f19900;
  --colors-registrations: #569690;
  --colors-calendar: #cc4832;
  --colors-services: #6a9639;
}
