.PointGridTextInput {
}
.PointGridTextInput--height_2\.5 {
  border-radius: 2.5px;
  font-size: 12px;
  max-height: 14px;
  padding: 2px 5px;
}

.PointGridTextInput--height_3 {
  border-radius: 3px;
  font-size: 12px;
  max-height: 14px;
  padding: 4px 7px;
}

.PointGridTextInput--height_4 {
  border-radius: 4px;
  font-size: 14px;
  max-height: 16px;
  padding: 7px 9px;
}

.PointGridTextInput--height_5 {
  border-radius: 5px;
  font-size: 16px;
  max-height: 18px;
  padding: 10px 11px;
}
