[data-preformatted-content] h1,
[data-preformatted-content] h2,
[data-preformatted-content] h3,
[data-preformatted-content] h4,
[data-preformatted-content] h5,
[data-preformatted-content] h6 {
  color: var(--heading--color);
  font-size: var(--heading--font-size, 1em);
  font-weight: var(--heading--font-weight, 600);
  margin-top: var(--heading--margin-top, 1.5rem);
  margin-bottom: var(--heading--margin-bottom, 0.5rem);
}

[data-preformatted-content] p,
[data-preformatted-content] ol,
[data-preformatted-content] ul {
  color: var(--text--color);
  font-size: var(--text--font-size, 1em);
  line-height: var(--text--line-height, 1.5em);
  margin: 0 0 var(--text--line-height, 1.5em) 0;
}

[data-preformatted-content] ol,
[data-preformatted-content] ul {
  padding: var(--list--padding, 0 0 0 2em);
}

[data-preformatted-content] a {
  font-weight: var(--link--font-weight, 600);
  text-decoration: var(--link--font-weight, none);
}

[data-preformatted-content] blockquote {
  font-style: var(--blockquote--font-style, italic);
  margin: var(--blockquote--margin, 1em);
  padding: var(--blockquote--padding, 0 0.75em 0 1.25em);
  border-width: var(--blockquote--border-width, 0 0 0 1px);
  border-style: solid;
  border-color: var(--blockquote--color, currentColor);
  color: var(--blockquote--color);
}

[data-preformatted-content] img {
  max-width: var(--image--max-width, 100%);
  border-radius: var(--image--border-radius, 3px);
}
