.ResourceHeader__TabContainer {
  display: flex;
  align-items: top;
  padding-left: 24px;
  padding-right: 24px;
}

.ResourceHeader__TabContainer > * + * {
  margin-left: 8px;
}

.ResourceHeader__SummaryContainer {
  display: flex;
  align-items: center;
  padding: 24px;
}

.ResourceHeader__SummaryContainer > * + * {
  margin-left: 24px;
}

.ResourceHeader__FlexSpacer {
  margin: auto;
}

.ResourceHeader__Title {
  margin: 0;
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.ResourceHeader__Tab {
  padding-right: 24px;
  padding-left: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 14px;
  line-height: 40px;
}

.ResourceHeader__Avatar {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: 112px;
  height: 112px;
  padding: 5px;
  background-color: white;
  background-color: var(--planningcenter-avatar-inset-color, white);
}
