.alert-container .alert {
  border-radius: 0;
  margin-bottom: 0;
}

.alert {
  background-color: var(--alert--background-color, var(--color-tint8));
  border-radius: 4px;
  color: var(--alert--color, var(--color-tint1));
  font-size: 14px;
  line-height: 1.25;
  margin-bottom: 1rem;
  padding: 1rem;
}

.alert.sm-alert {
  font-size: 12px;
  padding: 0.5rem;
}

.alert.quiet-alert {
  background: none;
  border: 1px solid;
  border-color: var(--alert--border-color);
}

.alert ul, .alert ol {
  margin-bottom: 0;
}

.alert .alert__list {
  list-style: none;
  padding-left: 0;
}

[data-color-scheme="light"] .error-alert {
  --alert--background-color: var(--error-alert--background-color);
}
[data-color-scheme="light"] .error-alert.quiet-alert {
  --alert--color: var(--color-ruby);
  --alert--border-color: var(--error-alert--border-color);
}

[data-color-scheme="light"] .success-alert {
  --alert--background-color: var(--success-alert--background-color);
}
[data-color-scheme="light"] .success-alert.quiet-alert {
  --alert--color: var(--color-emerald);
  --alert--border-color: var(--success-alert--border-color);
}

[data-color-scheme="light"] .warning-alert {
  --alert--background-color: var(--warning-alert--background-color);
}
[data-color-scheme="light"] .warning-alert.quiet-alert {
  --alert--color: hsl(41, 91%, 30%);
  --alert--border-color: var(--warning-alert--border-color);
}

[data-color-scheme="light"] .info-alert {
  --alert--background-color: var(--info-alert--background-color);
}
[data-color-scheme="light"] .info-alert.quiet-alert {
  --alert--color: var(--color-topaz);
  --alert--border-color: var(--info-alert--border-color);
}