.alert-container .alert {
  border-radius: 0;
  margin-bottom: 0;
}

.alert {
  background-color: var(--alert--background-color, var(--color-tint8));
  border-radius: 4px;
  color: var(--alert--color, var(--color-tint1));
  font-size: 14px;
  line-height: 1.25;
  margin-bottom: 1rem;
  padding: 1rem;
}

.alert.sm-alert {
  --alert--font-size: 0.75rem;
  --alert--padding: 0.5rem;
}

.alert.quiet-alert {
  background: none;
  border: 1px solid;
  border-color: var(--alert--border-color);
  padding: 0.5rem;
}

.alert ul, .alert ol {
  margin-bottom: 0;
}

.alert .alert__list {
  list-style: none;
  padding-left: 0;
}