button, input[type=submit] {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.btn {
  align-items: center;
  background: linear-gradient(135deg, var(--color-topaz) 0%, var(--color-emerald) 100%);
  border-radius: 30px;
  border: 1px solid transparent;
  color: var(--color-tint10);
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  line-height: 1;
  padding: 0 2rem;
  white-space: nowrap;
}

/* DISABLED */
.btn[disabled], 
.btn.disabled-btn {
  background-image: none;
  background: var(--color-tint5);
  color: var(--color-tint7);
}

/* SECONDARY (outlined) */
.btn.secondary-btn {
  background-image: linear-gradient(var(--color-tint10), var(--color-tint10)), linear-gradient(135deg, var(--color-topaz) 0%, var(--color-emerald) 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: double 2px transparent;
  color: var(--color-turquoise);
}

.btn.secondary-btn.destroy-btn {
  background-image: linear-gradient(var(--color-tint10), var(--color-tint10)), linear-gradient(135deg, var(--color-ruby) 0%, var(--color-ruby) 100%);
  color: var(--color-ruby);
}

.btn.secondary-btn.compact-btn, .btn.secondary-btn.minor-btn {
  background-color: var(--color-tint10);
}

.btn.secondary-btn button, .btn.secondary-btn input[type=submit] {
  background: none;
  border: none;
  color: var(--color-turquoise);
}

/* DESTROY */
.btn.destroy-btn {
  background-image: none;
  background-color: var(--color-ruby);
}

/* BUTTON IN ALERT */
.btn.alert-btn {
  background-image: none;
  background-color: var(--color-topaz);
}

/* COMPACT */
.btn.compact-btn {
  height: 32px;
  padding: 0 1rem;
}
.btn.compact-btn, .btn.compact-btn input[type=submit] {
  font-size: 14px;
}

/* MINOR */
.btn.minor-btn {
  border: double 1px transparent;
  height: 24px;
  line-height: 1;
  padding: 0 12px;
}
.btn.minor-btn, .btn.minor-btn input[type=submit] {
  font-size: 12px;
}

/* MINOR COMPACT */
.btn.minor-compact-btn {
  background: none;
  border: 0;
  color: var(--color-tint2);
  height: auto;
  padding: 0;
}
.btn.minor-compact-btn, .btn.minor-compact-btn input[type=submit] {
  font-size: 12px;
}
.btn.minor-compact-btn.destroy-btn {
  color: var(--color-ruby);
}
.btn.minor-compact-btn:before {
  display: none;
}

/* JUST TEXT */
.link-btn, 
.text-btn {
  background: none;
  border: none;
  color: var(--color-turquoise);
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  outline: none;
  padding: 0;
}

.text-btn {
  color: var(--color-tint2);
}

.stripped-btn {
  background: none;
  border: 0;
  font-family: inherit;
  font-weight: normal;
}