[data-color-scheme="dark"][data-contrast="low"] {
  --color-topaz: hsl(207, 90%, 51%);
  --color-turquoise: hsl(172, 52%, 41%);
  --color-tourmaline: hsl(174, 72%, 31%);
  --color-emerald: hsl(122, 48%, 57%);
  --color-ruby: hsl(1, 75%, 55%);
  --color-citrine: hsl(42, 81%, 56%);

  --color-tint0: hsl(0, 0%, 98%);
  --color-tint1: hsl(0, 0%, 88%);
  --color-tint2: hsl(0, 0%, 68%);
  --color-tint3: hsl(0, 0%, 50%);
  --color-tint4: hsl(0, 0%, 32%);
  --color-tint5: hsl(0, 0%, 24%);
  --color-tint6: hsl(0, 0%, 19%);
  --color-tint7: hsl(0, 0%, 17%);
  --color-tint8: hsl(0, 0%, 15%);
  --color-tint9: hsl(0, 0%, 12%);
  --color-tint10: hsl(0, 0%, 7%);

  background-color: var(--color-tint10);
  color: var(--color-tint0);

  --button--outline-variant--background-image: linear-gradient(
      var(--color-tint9),
      var(--color-tint9)
    ),
    linear-gradient(
      135deg,
      var(--color-turquoise) 0%,
      var(--color-emerald) 100%
    );

  --select--background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='-7 -7  30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.55504 10.5092C7.75343 10.7608 8.13399 10.7635 8.33592 10.5147L11.3385 6.81508C11.6037 6.48828 11.3711 6 10.9503 6H5.03091C4.61331 6 4.37972 6.48163 4.63826 6.80956L7.55504 10.5092Z' fill='%23CFCFCF'/%3E%3C/svg%3E%0A");

  /* BADGES */
  --badge--background-color: var(--color-tint2);
  --badge--color: var(--color-tint8);
  --error-badge--background-color: hsl(1, 84%, 45%);
  --success-badge--background-color: hsl(123, 38%, 37%);
  --warning-badge--background-color: hsl(41, 91%, 30%);

  .error-badge {
    --badge--color: hsl(0, 79%, 96%);
    --badge--background-color: var(--error-badge--background-color);
  }

  .success-badge,
  .open-badge {
    --badge--color: hsl(120, 36%, 96%);
    --badge--background-color: var(--success-badge--background-color);
  }
  
  .warning-badge {
    --badge--color: hsl(39, 89%, 96%);
    --badge--background-color: var(--warning-badge--background-color);
  }

  /* ALERTS */
  --error-alert--background-color: var(--color-tint8);
  --error-alert--border-color: var(--color-tint4);
  --success-alert--background-color: var(--color-tint8);
  --success-alert--border-color: var(--color-tint4);
  --warning-alert--background-color: var(--color-tint8);
  --warning-alert--border-color: var(--color-tint4);
  --info-alert--background-color: var(--color-tint8);
  --info-alert--border-color: var(--color-tint4);

  --alert--background-color: var(--success-alert--background-color);
  --alert--color: var(--color-tint1);

  .quiet-alert {
    --alert--border-color: var(--color-tint4);
  }
}