:root {
  --color-gray-100: hsl(0, 0%, 100%);
  --color-gray-98: hsl(0, 0%, 98%);
  --color-gray-97: hsl(0, 0%, 97%);
  --color-gray-95: hsl(0, 0%, 95%);
  --color-gray-93: hsl(0, 0%, 93%);
  --color-gray-88: hsl(0, 0%, 88%);
  --color-gray-85: hsl(0, 0%, 85%);
  --color-gray-81: hsl(0, 0%, 81%);
  --color-gray-76: hsl(0, 0%, 76%);
  --color-gray-70: hsl(0, 0%, 70%);
  --color-gray-62: hsl(0, 0%, 62%);
  --color-gray-50: hsl(0, 0%, 50%);
  --color-gray-45: hsl(0, 0%, 45%);
  --color-gray-26: hsl(0, 0%, 26%);
  --color-gray-19: hsl(0, 0%, 19%);
  --color-gray-14: hsl(0, 0%, 14%);
  --color-gray-12: hsl(0, 0%, 12%);
  --color-gray-7: hsl(0, 0%, 7%);
  --color-gray-2: hsl(0, 0%, 2%);
  --color-gray-0: hsl(0, 0%, 0%);
}
