[data-heading~="level:1"] {
  --heading--font-size: 1.5625rem;
  --heading--line-height: 1.333;
  --heading--font-weight: 500;
}

[data-heading~="level:2"] {
  --heading--font-size: 1.3125rem;
  --heading--font-weight: 500;
  --heading--line-height: 1.333rem;
}

[data-heading~="level:3"] {
  --heading--font-size: 1.125rem;
  --heading--font-weight: 500;
  --heading--line-height: 1.333rem;
}

[data-heading~="level:4"] {
  --heading--font-size: 1rem;
  --heading--line-height: 1.333rem;
  --heading--font-weight: 500;
}

[data-heading~="level:5"] {
  --heading--font-size: 0.875rem;
  --heading--line-height: 1.429rem;
  --heading--font-weight: 600;
  --heading--text-transform: uppercase;
}