/* color system */
:root {
  --color-topaz: #42a5f5;
  --color-turquoise: #4db6ac;
  --color-emerald: #66bb6a;
  --color-ruby: #ef5350;

  /* 11-color subset of full 22 value range */
  --color-gray-0: hsl(0, 0%, 100%); /* --color-gray25  */
  --color-gray-1: hsl(0, 0%, 98%); /* --color-gray50  */
  --color-gray-2: hsl(0, 0%, 97%); /* --color-gray100 */
  --color-gray-3: hsl(0, 0%, 95%); /* --color-gray200 */
  --color-gray-4: hsl(0, 0%, 93%); /* --color-gray300 */
  --color-gray-5: hsl(0, 0%, 88%); /* --color-gray400 */
  --color-gray-6: hsl(0, 0%, 81%); /* --color-gray500 */
  --color-gray-7: hsl(0, 0%, 62%); /* --color-gray600 */
  --color-gray-8: hsl(0, 0%, 45%); /* --color-gray700 */
  --color-gray-9: hsl(0, 0%, 26%); /* --color-gray800 */
  --color-gray-10: hsl(0, 0%, 12%); /* --color-gray900 */

  --color-foreground-0: var(--color-gray-10);
  --color-foreground-1: var(--color-gray-9);
  --color-foreground-2: var(--color-gray-8);

  --color-background-0: var(--color-gray-0);
  --color-background-1: var(--color-gray-1);
  --color-background-2: var(--color-gray-2);
}

/* elements mapping */
:root {
  --definition-term--color: var(--color-gray-7); 
  /* ally red flag because not "foreground" color */

  --surface-1of1--background-color: #fff;

  --surface-2of2--background-color: #fff;
  --surface-1of2--background-color: var(--color-background-2);

  --badge--background-color: var(--color-gray-3);
  --badge--color: var(--color-gray-8);

  --text--color: var(--color-foreground-1);

  --heading--color: var(--color-foreground-1);
  /* --heading-1--color: red; */
  --heading-5--color: var(--color-gray-7); 
  /* ally red flag because not "foreground" color */
}

body {
  color: var(--color-gray-9);
  /* we need this for the docs, cause I can't with this heavy font weight */
  -webkit-font-smoothing: antialiased;
}
