[data-media-card] {
  display: grid;
  gap: 1rem;
  grid-template:
    "media" 160px
    "description" auto
    / 100%;
  /* max-width: 100px; */
}

[data-media-card--media] {
  max-width: 100%;
  border-radius: 0.25rem;
}
[data-media-card--description] [data-text] {
  --text--font-size: 13px;
}
