/*! select.css (modified) */
[data-select] {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='-7 -7  30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.55504 10.5092C7.75343 10.7608 8.13399 10.7635 8.33592 10.5147L11.3385 6.81508C11.6037 6.48828 11.3711 6 10.9503 6H5.03091C4.61331 6 4.37972 6.48163 4.63826 6.80956L7.55504 10.5092Z' fill='%23444'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Theme */

[data-select] {
  font-size: var(--select--font-size, 1rem);

  background-color: var(--select--background-color, #fff);
  height: var(--select--height, 2.25rem);
  background-size: var(--select--height, 2.25rem);
  width: var(--select--width, auto);
  padding: var(--select--padding, 0 1.75em 0 0.5em);

  color: var(--select--color, inherit);
  border-style: solid;
  border-width: 1px;
  border-color: var(--select--border-color, hsl(0, 0%, 58%));
  border-radius: var(--select--border-radius, 0.25rem);
}

[data-select]:disabled {
  --select--background-color: hsl(0, 0%, 95%);
  --select--color: hsl(0, 0%, 40%);
  --select--border-color: hsl(0, 0%, 70%);
  cursor: not-allowed;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='-7 -7  30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.55504 10.5092C7.75343 10.7608 8.13399 10.7635 8.33592 10.5147L11.3385 6.81508C11.6037 6.48828 11.3711 6 10.9503 6H5.03091C4.61331 6 4.37972 6.48163 4.63826 6.80956L7.55504 10.5092Z' fill='%23aaa'/%3E%3C/svg%3E%0A");
}

/* FF(all): remove dotted inner focus ring */
/* [data-select]:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
} */
