.TextInput {
  font-size: var(--TextInput--font-size, 1rem);
  border-color: var(--TextInput--border-color, #767676);
  border-width: 1px;
  border-style: solid;
  background-color: var(--TextInput--background-color, white);
  border-radius: var(--TextInput--border-radius, 0.25rem);
  padding: var(--TextInput--padding, 0.5em 0.625em);
  margin: var(--TextInput--margin, 0);
  color: var(--TextInput--color, inherit);
  box-shadow: var(--TextInput--box-shadow, none);
  width: var(--TextInput--width, auto);

  /* Safari requires two consessions for proper rendering */
  /* 1. don't use line-height to set absolute height. it makes a strange cursor */
  /* 2. use max-height to constrain absolute height to 32px */
  max-height: var(--TextInput--max-height, 18px);
}

.TextInput::placeholder {
  color: var(--TextInput--color, #767676);
}

.TextInput:focus {
  outline: none;
  --TextInput--box-shadow: 0 0 1.5px 3px hsla(0, 0%, 50%, 0.5);
}

.TextInput:invalid {
  --TextInput--border-color: hsl(0, 79%, 63%);
  --TextInput--color: hsl(0, 79%, 63%);
  --TextInput--box-shadow: 0 0 1.5px 3px hsla(0, 79%, 63%, 0.5);
}
