.FontScaleText {
}
.FontScaleText--font-size_x-small {
  --Text--font-size: 10px;
}
.FontScaleText--font-size_small {
  --Text--font-size: 12px;
}
.FontScaleText--font-size_medium {
  --Text--font-size: 14px;
}
.FontScaleText--font-size_large {
  --Text--font-size: 16px;
}
.FontScaleText--font-size_x-large {
  --Text--font-size: 18px;
}
