[data-avatar] {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 50%;
  padding: var(--avatar--padding, 0);
  opacity: var(--avatar--opacity, auto);
  background-color: var(--avatar--background-color, white);
  width: var(--avatar--size, 2rem);
  height: var(--avatar--size, 2rem);
  object-fit: cover;
}
