[data-avatar] {
  --avatar--size: 2rem;
  --avatar--border: 0 solid white;
  --avatar--opacity: 1;

  box-sizing: border-box;
  display: inline-block;
  border-radius: 50%;
  border: var(--avatar--border);
  opacity: var(--avatar--opacity);
  width: var(--avatar--size);
  height: var(--avatar--size);
  object-fit: cover;
}
