.c-topaz {
	 color: var(--color-topaz);
}
 .c-turquoise {
	 color: var(--color-turquoise);
}
 .c-dark-turquoise, .c-tourmaline {
	 color: var(--color-tourmaline);
}
 .c-emerald {
	 color: var(--color-emerald);
}
 .c-ruby {
	 color: var(--color-ruby);
}
 .c-marigold, .c-citrine {
	 color: var(--color-citrine);
}
 .c-tint0 {
	 color: var(--color-tint0);
}
 .c-tint1 {
	 color: var(--color-tint1);
}
 .c-tint2 {
	 color: var(--color-tint2);
}
 .c-tint3 {
	 color: var(--color-tint3);
}
 .c-tint4 {
	 color: var(--color-tint4);
}
 .c-tint5 {
	 color: var(--color-tint5);
}
 .c-tint6 {
	 color: var(--color-tint6);
}
 .c-tint7 {
	 color: var(--color-tint7);
}
 .c-tint8 {
	 color: var(--color-tint8);
}
 .c-tint9 {
	 color: var(--color-tint9);
}
 .c-tint10 {
	 color: var(--color-tint10);
}
 .gc-topaz {
	 background-color: var(--color-topaz);
}
 .gc-turquoise {
	 background-color: var(--color-turquoise);
}
 .gc-dark-turquoise, .gc-tourmaline {
	 background-color: var(--color-tourmaline);
}
 .gc-emerald {
	 background-color: var(--color-emerald);
}
 .gc-ruby {
	 background-color: var(--color-ruby);
}
 .gc-marigold, .gc-citrine {
	 background-color: var(--color-citrine);
}
 .gc-tint0 {
	 background-color: var(--color-tint0);
}
 .gc-tint1 {
	 background-color: var(--color-tint1);
}
 .gc-tint2 {
	 background-color: var(--color-tint2);
}
 .gc-tint3 {
	 background-color: var(--color-tint3);
}
 .gc-tint4 {
	 background-color: var(--color-tint4);
}
 .gc-tint5 {
	 background-color: var(--color-tint5);
}
 .gc-tint6 {
	 background-color: var(--color-tint6);
}
 .gc-tint7 {
	 background-color: var(--color-tint7);
}
 .gc-tint8 {
	 background-color: var(--color-tint8);
}
 .gc-tint9 {
	 background-color: var(--color-tint9);
}
 .gc-tint10 {
	 background-color: var(--color-tint10);
}
 .fw-400 {
	 font-weight: 400;
}
 .fw-500 {
	 font-weight: 500;
}
 .fw-600 {
	 font-weight: 600;
}
 .fd-r {
	 flex-direction: row;
}
 .fd-c {
	 flex-direction: column;
}
 .fd-rr {
	 flex-direction: row-reverse;
}
 .fd-cr {
	 flex-direction: column-reverse;
}
 @media (min-width: 480px) {
	 .fd-r\@xs {
		 flex-direction: row;
	}
	 .fd-c\@xs {
		 flex-direction: column;
	}
	 .fd-rr\@xs {
		 flex-direction: row-reverse;
	}
	 .fd-cr\@xs {
		 flex-direction: column-reverse;
	}
}
 @media (min-width: 601px) {
	 .fd-r\@sm {
		 flex-direction: row;
	}
	 .fd-c\@sm {
		 flex-direction: column;
	}
	 .fd-rr\@sm {
		 flex-direction: row-reverse;
	}
	 .fd-cr\@sm {
		 flex-direction: column-reverse;
	}
}
 @media (min-width: 720px) {
	 .fd-r\@md {
		 flex-direction: row;
	}
	 .fd-c\@md {
		 flex-direction: column;
	}
	 .fd-rr\@md {
		 flex-direction: row-reverse;
	}
	 .fd-cr\@md {
		 flex-direction: column-reverse;
	}
}
 @media (min-width: 960px) {
	 .fd-r\@lg {
		 flex-direction: row;
	}
	 .fd-c\@lg {
		 flex-direction: column;
	}
	 .fd-rr\@lg {
		 flex-direction: row-reverse;
	}
	 .fd-cr\@lg {
		 flex-direction: column-reverse;
	}
}
 @media (min-width: 1200px) {
	 .fd-r\@xl {
		 flex-direction: row;
	}
	 .fd-c\@xl {
		 flex-direction: column;
	}
	 .fd-rr\@xl {
		 flex-direction: row-reverse;
	}
	 .fd-cr\@xl {
		 flex-direction: column-reverse;
	}
}
 @media (min-width: 601px) {
	 .d-if\@sm {
		 display: inline-flex;
	}
}
 @media (min-width: 480px) {
	 .fs-4\@xs {
		 font-size: 14px;
	}
}
 @media (min-width: 601px) {
	 .fs-4\@sm {
		 font-size: 14px;
	}
}
 @media (min-width: 720px) {
	 .fs-4\@md {
		 font-size: 14px;
	}
}
 @media (min-width: 720px) {
	 .fs-5\@md {
		 font-size: 12px;
	}
}
 .fs-13 {
	 font-size: 13px;
}
 .f_1 > * {
	 flex: 1;
}
 .f_2 > * {
	 flex: 2;
}
 .f_3 > * {
	 flex: 3;
}
 .f_4 > * {
	 flex: 4;
}
 .f_5 > * {
	 flex: 5;
}
 .f_6 > * {
	 flex: 6;
}
 .h-100\% {
	 height: 100%;
}
 @media (min-width: 720px) {
	 .w-48\%\@md {
		 width: 48%;
	}
}
 .m-4p {
	 margin: 4px;
}
 .mt-1p {
	 margin-top: 1px;
}
 .mt-2p {
	 margin-top: 2px;
}
 .mt-3p {
	 margin-top: 3px;
}
 .mt-4p {
	 margin-top: 4px;
}
 .mr-1p {
	 margin-right: 1px;
}
 .mr-2p {
	 margin-right: 2px;
}
 .mr-3p {
	 margin-right: 3px;
}
 .mr-4p {
	 margin-right: 4px;
}
 .mb-1p {
	 margin-bottom: 1px;
}
 .mb-2p {
	 margin-bottom: 2px;
}
 .mb-3p {
	 margin-bottom: 3px;
}
 .mb-4p {
	 margin-bottom: 4px;
}
 .ml-1p {
	 margin-left: 1px;
}
 .ml-2p {
	 margin-left: 2px;
}
 .ml-3p {
	 margin-left: 3px;
}
 .ml-4p {
	 margin-left: 4px;
}
 .mx-a {
	 margin-left: auto;
	 margin-right: auto;
}
 .o-1 {
	 order: 1;
}
 .o-2 {
	 order: 2;
}
 .o-3 {
	 order: 3;
}
 @media (min-width: 601px) {
	 .o-1\@sm {
		 order: 1;
	}
}
 @media (min-width: 601px) {
	 .o-2\@sm {
		 order: 2;
	}
}
 @media (min-width: 601px) {
	 .o-3\@sm {
		 order: 3;
	}
}
 @media (min-width: 720px) {
	 .o-1\@md {
		 order: 1;
	}
}
 @media (min-width: 720px) {
	 .o-2\@md {
		 order: 2;
	}
}
 @media (min-width: 720px) {
	 .o-3\@md {
		 order: 3;
	}
}
 .p-4p {
	 padding: 4px;
}
 .pt-1p {
	 padding-top: 1px;
}
 .pt-2p {
	 padding-top: 2px;
}
 .pt-3p {
	 padding-top: 3px;
}
 .pt-4p {
	 padding-top: 4px;
}
 .pr-1p {
	 padding-right: 1px;
}
 .pr-2p {
	 padding-right: 2px;
}
 .pr-3p {
	 padding-right: 3px;
}
 .pr-4p {
	 padding-right: 4px;
}
 .pb-1p {
	 padding-bottom: 1px;
}
 .pb-2p {
	 padding-bottom: 2px;
}
 .pb-3p {
	 padding-bottom: 3px;
}
 .pb-4p {
	 padding-bottom: 4px;
}
 .pl-1p {
	 padding-left: 1px;
}
 .pl-2p {
	 padding-left: 2px;
}
 .pl-3p {
	 padding-left: 3px;
}
 .pl-4p {
	 padding-left: 4px;
}
 .pb-10 {
	 padding-bottom: 80px;
}
 .pb-12 {
	 padding-bottom: 96px;
}
 .px-9 {
	 padding-right: 72px;
	 padding-left: 72px;
}
 .p-st {
	 position: sticky;
}
 @media (min-width: 720px) {
	 .p-st\@md {
		 position: sticky;
	}
}
 @media (min-width: 720px) {
	 .ml-4p\@md {
		 margin-left: 4px;
	}
}
 @media (min-width: 720px) {
	 .mr-4p\@md {
		 margin-right: 4px;
	}
}
 .t-1p {
	 top: 1px;
}
 .t-2p {
	 top: 2px;
}
 .t-3p {
	 top: 3px;
}
 .t-4p {
	 top: 4px;
}
 .ws-nw {
	 white-space: nowrap;
}
 .tt-c {
	 text-transform: capitalize;
}
 .tt-u {
	 text-transform: uppercase;
}
 .modal .pl-0\@modal {
	 padding-left: 0;
}
 .modal .pt-1\@modal {
	 padding-top: 0.5rem;
}
 .modal .pl-2\@modal {
	 padding-left: 1rem;
}
 .modal .p-0\@modal {
	 padding: 0;
}
 .modal .m-0\@modal {
	 margin: 0;
}
 .modal .ml-0\@modal {
	 margin-left: 0;
}
 .modal .ml-0\@modal {
	 margin-left: 0;
}
 .modal .mb-1\@modal {
	 margin-bottom: 0.5rem;
}
 .modal .fd-cr\@modal {
	 flex-direction: column-reverse;
}
 .modal .fd-c\@modal {
	 flex-direction: column;
}
 .modal .ai-fs\@modal {
	 align-items: flex-start;
}
 .modal .d-n\@modal {
	 display: none;
}
 .modal .ws-n\@modal {
	 white-space: normal;
}
 .iframed .modal .d-f\@iframe-modal {
	 display: flex;
}
 .iframed .modal .d-n\@iframe-modal {
	 display: none;
}
 .iframed .modal .jc-sb\@iframe-modal {
	 justify-content: space-between;
}
 .iframed .modal .f-1\@iframe-modal {
	 flex: 1;
}
 .iframed .modal .m-0\@iframe-modal {
	 margin: 0;
}
 .iframed .modal .ml-1\@iframe-modal {
	 margin-left: 0.5rem;
}
 .iframed .modal .ml-2\@iframe-modal {
	 margin-left: 1rem;
}
 .iframed .modal .fs-5\@iframe-modal {
	 font-size: 12px;
}
 