[data-alert-dialog-overlay] {
  background-color: rgba(0, 0, 0, 0.4);
}

[data-alert-dialog] {
  justify-items: center;
  display: grid;
  gap: 1.25rem;
  box-sizing: border-box;
  max-width: 34rem;
  background-color: white;
  border-radius: 0.25rem;
  font-size: var(--alert-dialog--font-size, 1em);
  color: var(--alert-dialog--color, #767676);
  padding: var(--alert-dialog--color, 1.25rem);
  text-align: center;
}

[data-alert-dialog-label] {
  font-size: var(--alert-dialog-label--font-size, 1.5625em);
  font-weight: var(--alert-dialog--font-weight, 700);
  color: var(--alert-dialog-label--color, #444);
  line-height: 0.75em;
}

[data-alert-dialog-description] {
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

[data-alert-dialog-actions] {
  box-sizing: border-box;
  width: 100%;
  padding-top: 1rem;
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  gap: 1rem;
  grid-auto-flow: column;
  display: grid;
  justify-content: center;
}
