/* modified from: https://www.w3.org/TR/wai-aria-practices/examples/checkbox/css/checkbox.css */

.Checkbox {
  display: inline-block;
  position: relative;
  padding-left: 1.4em;
  cursor: default;
}

.Checkbox::before,
.Checkbox::after {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translate(-50%, -50%);
  content: "";
}

.Checkbox::before {
  width: 16px;
  height: 16px;
  border: 1px solid hsl(0, 0%, 66%);
  border-radius: 0.2em;
  background-color: white;
  /* background-image: linear-gradient(to bottom, hsl(300, 3%, 93%), #fff 30%); */
}

.Checkbox:active::before {
  /* background-color: white; */
  /* background-image: linear-gradient(
    to bottom,
    hsl(300, 3%, 73%),
    hsl(300, 3%, 93%) 30%
  ); */
}

.Checkbox:checked::before {
  border-color: hsl(216, 80%, 50%);
  /* background-color: hsl(216, 80%, 57%); */
  background: hsl(217, 95%, 68%);
  /* background-image: linear-gradient(
    to bottom,
    hsl(217, 95%, 68%),
    hsl(216, 80%, 57%)
  ); */
}

.Checkbox:checked::after {
  display: block;
  width: 4px;
  height: 7px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: translateY(-62.5%) translateX(-45%) rotate(45deg);
}

.Checkbox:checked:active::before {
  /* background-image: linear-gradient(
    to bottom,
    hsl(216, 80%, 57%),
    hsl(217, 95%, 68%)
  ); */
}

.Checkbox:focus {
  outline: none;
}

.Checkbox:focus::before {
  /* width: 16px;
  height: 16px; */
  box-sizing: content-box;
  border-color: hsl(216, 94%, 73%);
  border-width: 3px;
  border-radius: calc(0.2em + 3px);
  box-shadow: inset 0 0 0 1px hsl(216, 80%, 50%);
}
