[data-text-input="bare"] {
  --text-input--border-color: transparent;
  --text-input--border-width: 0;
  --text-input--border-radius: 0;
}

/* this affordance will need to be provided at a higher level */
[data-text-input="bare"]:focus {
  --TextInput--box-shadow: none;
}
