:root {
  --surface-1of1--background-color: #fff;
  --surface-2of2--background-color: #eee;
  --surface-1of2--background-color: #fff;
  --surface-3of3--background-color: #ddd;
  --surface-2of3--background-color: #eee;
  --surface-1of3--background-color: #fff;
}
