:root {
  --point: 8px;
  --nudge: 4px;
}

:root {
  --size_0: 0;
  --size_1: 8px;
  --size_2: 16px;
  --size_3: 24px;
  --size_4: 32px;
  --size_5: 40px;
  --size_6: 48px;
  --size_7: 56px;
  --size_8: 64px;
}

:root {
  --scale_0: 0;
  --scale_1: 8px;
  --scale_2: 16px;
  --scale_3: 32px;
  --scale_4: 64px;
  --scale_5: 128px;
  --scale_6: 256px;
  --scale_7: 512px;
  --scale_8: 1024px;
}

:root {
  --type-scale_0: 10px;
  --type-scale_1: 12px;
  --type-scale_2: 14px;
  --type-scale_3: 16px;
  --type-scale_4: 18px;
  --type-scale_5: 21px;
  --type-scale_6: 25px;
  --type-scale_7: 30px;
}

/* TODO: a possible outome that seems confusing */
/* :root {
  --heading-size_1: var(--type-scale_6);
  --heading-size_2: var(--type-scale_5);
  --heading-size_3: var(--type-scale_4);
  --heading-size_4: var(--type-scale_3);
  --heading-size_5: var(--type-scale_2);
  --heading-size_6: var(--type-scale_1);
  --heading-size_7: var(--type-scale_0);
} */

/* presented here for parity.
 * not useful until env() is standardized
 * https://drafts.csswg.org/css-env-1/
 */

/*
:root {
  --screen_mn: 0;
  --screen_xs: 480px;
  --screen_sm: 600px;
  --screen_md: 720px;
  --screen_lg: 960px;
  --screen_xl: 1200px;
}
*/
