.main-navigation {
	 margin-top: -20px;
	 text-align: left;
	 top: 50%;
}
 .main-navigation__trigger {
	 background-color: var(--color-tint6);
	 border: 0;
	 border-radius: 40px;
	 padding: 4px;
	 transition: transform 0.2s;
}
 .main-navigation__trigger:focus {
	 outline: 0;
}
 .is-open .main-navigation__toggle-icon {
	 transform: scaleY(-1);
}
 .main-navigation__person-name {
	 transition: all 0.2s;
	 overflow: hidden;
	 width: 0;
}
 .is-open .main-navigation__person-name {
	 margin-left: 8px;
	 width: auto;
}
 .main-navigation__menu {
	 left: auto !important;
	 margin-top: 4px !important;
	 min-width: 170px;
	 right: 0;
}
 .main-navigation__link {
	 color: var(--color-tint2);
	 display: block;
	 font-weight: 400;
	 padding: 4px 12px;
	 white-space: nowrap;
}
 .main-navigation__link:hover {
	 background: var(--color-tint7);
}
 .main-navigation__menu-item:first-child .main-navigation__link {
	 border-radius: 3px 3px 0 0;
}
 .main-navigation__menu-item:last-child .main-navigation__link {
	 border-radius: 0 0 3px 3px;
}
 